@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.btn {
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-weight: 700;
    padding: 10px 24px 10px 24px;
    border: none;
}

/* header style */
header {
    
    margin: 87px 120px 0 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 87px 120px 0;
}

nav h3 {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

nav ul {
    display: flex;
    text-decoration: none;
}

nav ul li {
    list-style: none;
    margin-right: 34px;
    color: #3A3A3A;
    font-weight: 600;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.banner-content .banner-title {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-content .banner-para {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* main style */
main {
    margin-bottom: 50px;
}

/* section one style */
.section-one {
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 100px;
    background-color: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
    ;
}

.section-one-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
}

/* section two style */
.section-two {
    margin: 0 196px 100px 196px;
}

.section-two-header {
    text-align: center;
    margin-bottom: 30px;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-box {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 15px 17px 15px;
    width: 329px;
    height: 476px;
}

.card-box img {
    width: 100%;
}

/* section three style */
.section-three {
    display: flex;
    justify-content: space-between;
    margin: 0 165px 100px 165px;
    gap: 96px;
    align-items: center;
}

.section-three-img img {
    width: 404px;
    height: 270px;
}

.section-three-content h2 {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 16px;
}

.section-three-content p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
}

/* Footer styles */
footer {
    background-color: #0A0826;
    text-align: center;
    padding: 50px 0 50px 0;
}

.footer-contant h2 {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 3px;
}

.footer-contant p {
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 17px;
}

.footer-web img {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}

/* For mobile device */
@media screen and (max-width:576px) {
    header {
        width: 100%;
        margin: 35px 16px 22px 16px;
    }

    nav,
    .section-three {
        flex-direction: column;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 2fr);

    }

    .banner {
        flex-direction: column;
        flex-direction: column-reverse;
        margin: 0 50px;

    }

    .banner-img img {
        width: 202px;
        height: 190px;
    }

    nav ul {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-content .banner-title {
        font-size: 2rem;
        text-align: center;
    }

    .section-one-images {
        display: grid;
        margin-left: 5px;
    }

    #img {
        padding: 5px;
    }

    .section-two {
        margin-left: 15px;
        margin-right: 15px;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .section-three {
        margin: 0 20px 0 20px;
        flex-direction: column-reverse;
    }

    .section-three-img img {
        width: 299px;
        height: 188px;
    }

    .footer {
        width: 360px;
        height: 211px;
    }

}